[project]
name = "mcp-server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "ddgs>=9.10.0",
    "fastmcp>=2.14.2",
    "langchain-community>=0.4.1",
    "langchain-openai>=1.1.6",
]
